# One line-ending format to reduce conflicts when pushing from VSCode, GoLand, or the server
* text=auto eol=lf
*.{yml,yaml} text eol=lf
*.{js,jsx,cjs,ts,tsx,json,css,html,md} text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
